.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginBox {
  background: fn-color("white");
  padding: space("xxl");
  border: 1px solid fn-color("gray-200");
  border-radius: radius("md");
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 460px;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: space("lg");
}

.title {
  color: fn-color("primary");
  font-size: font("xxl");
  font-weight: 700;
  margin-bottom: space("xl");
}

.signupText {
  margin-top: space("md");
  font-size: font("md");
  color: fn-color("gray-600");
}

.error {
  margin-bottom: space("md");
  font-size: font("sm");
  color: fn-color("danger");
}
