@use "@/assets/scss/utils" as *;

.checkbox-field {
  display: flex;
  flex-direction: column;
  gap: space("sm");
}

.checkbox-box {
  display: flex;
  flex-wrap: wrap;
  gap: space("sm");
  background: fn-color("gray-bg");
  border: 1px solid fn-color("border");
  border-radius: radius("md");
  padding: space("lg");
}

.checkbox-input {
  flex: 0 0 calc((100% - 2 * space("sm")) / 3);
  display: flex;
  align-items: center;
  gap: space("sm");
  font-size: font("md");
  color: fn-color("gray-700");
  background: fn-color("white");
  border: 1px solid fn-color("gray-200");
  border-radius: radius("sm");
  padding: space("sm") space("md");
  transition: all 0.2s ease;
  cursor: pointer;

  @media (max-width: bp("md")) {
    flex: 0 0 calc((100% - 1 * space("sm")) / 2);
  }

  &:hover {
    background: fn-color("primary-bg");
    border-color: fn-color("primary");
  }

  &:has(input:checked) {
    background: fn-color("primary-bg");
    border-color: fn-color("primary");
    color: fn-color("primary");
    font-weight: 700;
  }

  &.error {
    border-color: fn-color("danger");
    background: fn-color("danger-bg");
  }

  input {
    accent-color: fn-color("primary");
    transform: scale(1.1);
  }

  span {
    font-weight: 700;
  }
}

.checkbox-label {
  font-size: font("md");
  font-weight: 600;
  color: fn-color("dark");
}

.hint {
  font-size: font("sm");
  color: fn-color("primary");
}

.checkbox-error {
  font-size: font("sm");
  color: fn-color("danger");
}
