@use "@/assets/scss/utils" as *;

.form-modal {
  display: flex;
  flex-direction: column;
  gap: fn-rem(24);

  &__body {
    display: flex;
    flex-direction: column;
    gap: fn-rem(16);
    max-height: 65vh;
    overflow-y: auto;
    padding-right: fn-rem(4);
  }

  &__footer {
    // display: flex;
    // justify-content: flex-end;
  }

  // 스크롤 숨김 커스텀
  &__body::-webkit-scrollbar {
    width: fn-rem(6);
  }
  &__body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: fn-rem(4);
  }
}
