@use "@/assets/scss/utils" as *;
@use "sass:map";

.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: space("sm");

  .input-label {
    font-size: font("md");
    font-weight: 600;
    color: fn-color("gray-800");
  }

  .input-txt {
    width: 100%;
    height: fn-rem(44);
    padding: 0 space("md");
    border: 1px solid fn-color("gray-200");
    border-radius: radius("sm");
    font-size: font("lg");
    background: fn-color("white");
    color: fn-color("dark");
    transition: all 0.2s ease;

    &::placeholder {
      color: fn-color("gray-400");
    }

    &:focus {
      outline: none;
      border-color: fn-color("primary");
    }

    &.error {
      border-color: fn-color("danger");
      background: fn-color("danger-bg");
    }
  }

  .input-error {
    font-size: font("sm");
    color: fn-color("danger");
  }
}
