@use "@/assets/scss/utils" as *;

/* 로딩 스피너 공용 스타일 */

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 9999;
  }
}

.loading-spinner {
  border: fn-rem(4) solid fn-color("gray-300");
  border-top: fn-rem(4) solid fn-color("primary");
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: fn-rem(12);
  font-size: font("sm");
  color: #333;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
