@use "@/assets/scss/utils" as *;

.pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: space("md");
  margin-top: space("lg");
  list-style: none;
  padding: 0;

  .page-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: font("sm");
    color: fn-color("gray-700");
    cursor: pointer;
    user-select: none;
    padding: fn-rem(4) fn-rem(8);
    border-radius: radius("sm");
    transition: all 0.2s ease;
    height: fn-rem(30);

    &:hover {
      color: fn-color("primary");
    }

    &.active {
      color: fn-color("primary");
      font-weight: 600;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: fn-rem(2);
        background-color: fn-color("primary");
      }
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}
