@use "@/assets/scss/utils" as *;

/* 기본 탭 */
.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: fn-color("gray-50");
  border-bottom: 1px solid fn-color("gray-200");

  .tab-btn {
    flex: 1;
    padding: space("md") 0;
    font-size: font("lg");
    font-weight: 600;
    color: fn-color("gray-600");
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: fn-rem(3);
      background-color: transparent;
      transition: width 0.25s ease;
    }

    &:hover {
      background-color: fn-color("gray-100");
    }

    &.active::after {
      background-color: fn-color("primary");
    }
  }

  /* 관리자 탭 */
  &--admin {
    justify-content: flex-start;
    gap: space("xl");
    padding-bottom: space("xs");
    border-bottom: 1px solid fn-color("gray-100");
    background: transparent;

    .tab-btn {
      flex: none;
      padding: 0;
      font-size: font("md");
      font-weight: 600;
      color: fn-color("gray-600");
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: fn-rem(-6);
        left: 0;
        width: 0;
        height: fn-rem(2);
        background-color: fn-color("primary");
        transition: width 0.25s ease;
        will-change: width;
      }

      &:hover {
        background-color: transparent;

        &:not(.active)::after {
          width: 100%;
        }
      }

      &.active {
        color: fn-color("primary");

        &::after {
          width: 100%;
        }
      }
    }
  }
}
