.main {
  max-width: fn-rem(1200);
  margin: 0 auto;
  width: 100%;
  padding: 0 space("lg");

  :global(.empty-state) {
    margin-top: fn-rem(50);
  }
}

.storeGrid {
  display: flex;
  flex-wrap: wrap;
  gap: space("md");
  margin-top: space("lg");
}
