.menuSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fn-rem(800);
  margin: 0 auto;
  position: relative;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 space("md");
  transition: height 0.3s ease;

  &.show {
    height: 100%;
    opacity: 1;
  }

  :global(.input-round) {
    padding-right: fn-rem(50);
  }
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: fn-rem(30);
  width: fn-rem(30);
  height: fn-rem(30);
  color: fn-color("primary");
  font-size: fn-rem(22);
  transform: translateY(-50%);
}
