.main {
  max-width: fn-rem(1200);
  margin: 0 auto;
  width: 100%;
  padding: 0 space("lg");
}

:global(.empty-state) {
  margin-top: fn-rem(50);
}

.storeGrid {
  display: flex;
  flex-wrap: wrap;
  gap: space("xl");
  margin-top: space("lg");
}

.loadingWrap,
.emptyWrap {
  text-align: center;
  color: fn-color("gray-600");
  font-size: font("lg");
  padding: space("xl") 0;
}
