.heroWrap {
  .storeHero {
    position: relative;
    width: 100%;
    height: fn-rem(400);
    background: fn-color("gray-200") center / cover no-repeat;
  }

  .storeInfoWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: space("lg");
    gap: space("lg");
  }

  .storeInfo {
    display: flex;
    flex-direction: column;
    gap: space("sm");
    color: fn-color("gray-600");
    font-size: font("sm");
    flex: 1;

    .storeName {
      margin-bottom: space("xs");
      font-size: font("xxl");
      font-weight: 700;
      color: fn-color("gray-800");
    }

    .infoRow {
      display: flex;
      align-items: center;
      gap: space("xs");
      flex-wrap: wrap;

      svg {
        font-size: font("md");
        color: fn-color("gray-500");

        &.starIcon {
          color: fn-color("rating");
        }
      }
    }
  }

  @media (max-width: bp("md")) {
    .storeInfoWrap {
      flex-direction: column;
      gap: space("md");
      padding: space("md");
    }

    :global(.btnWrap) {
      margin-top: 0;
    }
  }
}
