.menuTabContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: space("xl");
  align-items: flex-start;
  margin-top: space("xl");

  @media (max-width: bp("lg")) {
    grid-template-columns: 1fr;
  }
}

.leftArea {
  background: fn-color("white");
}

.rightArea {
  position: sticky;
  top: fn-rem(100);
}
