@use "@/assets/scss/utils" as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 space("lg");
  background-color: fn-color("primary");
  z-index: 10;

  @media (max-width: bp("md")) {
    padding: 0 space("md");
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
  }

  .logo {
    a {
      display: flex;
      align-items: center;
      gap: space("xs");
      color: fn-color("white");
      font-size: font("xxl");
      font-weight: 700;
      text-decoration: none;
    }
  }

  .nav {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: space("lg");
    transform: translate(-50%, -50%);

    @media (max-width: bp("md")) {
      position: static;
      width: 100%;
      height: $gnb-height-mobile;
      border-top: 1px solid rgba($color: fn-color("primary-bg"), $alpha: 0.2);
      background-color: fn-color("primary");
      transform: none;
    }

    a {
      position: relative;
      display: inline-flex;
      align-items: center;
      gap: space("xs");
      color: fn-color("white");
      font-size: font("lg");
      font-weight: 600;

      &::after {
        content: "";
        position: absolute;
        bottom: fn-rem(-5);
        left: 0;
        width: 0;
        height: 2px;
        background-color: fn-color("primary-bg");
      }

      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }
  }

  .user-menu {
    display: flex;
    align-items: center;
    gap: space("sm");
    font-size: fn-rem(13);

    .btn {
      background: fn-color("white");
      padding: space("sm") fn-rem(20);
      font-weight: 600;

      &:hover {
        background: fn-color("primary-bg");
      }
    }
  }
}
