@use "@/assets/scss/utils" as *;

.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  padding-top: $header-height;

  @media (max-width: bp("md")) {
    padding-top: $header-height;
  }
}

.container {
  flex: 1;
  max-width: fn-rem(1200);
  width: 100%;
  padding: 0 space("lg");
  margin: fn-rem(50) auto fn-rem(80);
  z-index: 1;

  &.wide {
    max-width: none;
    padding: 0;
    margin-top: 0;
  }
}

.footer {
  text-align: center;
  font-size: font("sm");
  color: fn-color("gray-400");
  border-top: 1px solid fn-color("border");
  padding: space("lg") 0;
}

#root {
  height: 100%;
}

.page {
  &-title {
    font-size: font("xxl");
    font-weight: 800;
    text-align: center;
  }

  &-txt {
    margin-top: space("md");
    text-align: center;
    font-size: font("sm");
    color: fn-color("gray-500");
    line-height: 1.4;
  }
}
