@use "@/assets/scss/utils" as *;

.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.container {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  padding: 0 space("lg");
  margin: fn-rem(50) auto fn-rem(80);
  // background-color: #fff;

  &.home {
    max-width: none;
    padding: 0;
    margin-top: 0;
  }
}

.footer {
  text-align: center;
  font-size: font("sm");
  color: fn-color("gray-400");
  border-top: 1px solid fn-color("border");
  padding: space("lg") 0;
}

#root {
  height: 100%;
}
