@use "sass:color";

.box {
  border: 1px solid fn-color("gray-200");
  border-radius: radius("md");
  background: fn-color("white");
  padding: space("lg");
  display: flex;
  flex-direction: column;
  gap: space("md");
  cursor: pointer;
  transition: border 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    border-color: fn-color("primary");
    // box-shadow: 0 0 0 2px colors.scale(fn-color("primary"), $lightness: 40%);
  }

  &.open {
    border-color: fn-color("primary");
    box-shadow: 0 0 0 2px color.scale(fn-color("primary"), $lightness: 30%);
  }
}

.menuCard {
  display: flex;
  align-items: center;
  gap: space("md");
}

.thumb {
  width: fn-rem(80);
  height: fn-rem(80);
  background: fn-color("gray-100");
  border-radius: radius("sm");
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid fn-color("border");

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: radius("sm");
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - (fn-rem(80) + space("md")));
}

.name {
  font-size: font("lg");
  font-weight: 600;
  color: fn-color("gray-900");
}

.desc {
  font-size: font("sm");
  color: fn-color("gray-500");
  margin-top: space("xs");
}

.price {
  font-size: font("lg");
  font-weight: 600;
  color: fn-color("gray-800");
}

.optionBox {
  border-top: 1px solid fn-color("gray-200");
  padding-top: space("md");
  margin-top: space("md");
  animation: fadeIn 0.25s ease forwards;
  display: flex;
  flex-direction: column;
  gap: space("md");
  :global(.btn) {
    width: 100%;
    height: fn-rem(38);
    margin-top: space("sm");
  }
}

.radioTag {
  padding: space("xs");
  font-size: font("xs");
  background-color: fn-color("primary-bg");
  font-weight: 400;
  border-radius: fn-rem(4);
  margin-left: space("xs");
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
