.summaryBox {
  width: 100%;
  padding: space("xxl") 0;
  margin-bottom: space("lg");
  text-align: center;
  border-bottom: 1px solid fn-color("gray-200");
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: fn-rem(80);

  strong {
    font-size: font("md");
  }

  /* 반응형 */
  @media (max-width: bp("md")) {
    flex-direction: column;
    align-items: center;
    gap: space("xl");
    padding: space("xl") 0;
  }
}

.ratingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: space("md");
  padding-right: fn-rem(80);
  border-right: 1px solid fn-color("gray-200");

  /* 반응형 */
  @media (max-width: bp("md")) {
    padding-right: 0;
    border-right: none;
    padding-bottom: space("lg");
    border-bottom: 1px solid fn-color("gray-200");
    width: 100%;
  }
}

.ratingText {
  font-size: fn-rem(50);
  font-weight: 600;
  color: fn-color("primary");

  span {
    color: fn-color("gray-100");
    font-weight: 400;
  }

  @media (max-width: bp("md")) {
    font-size: fn-rem(40);
  }
}

.reviewCountText {
  color: fn-color("primary");
  font-size: fn-rem(50);
  font-weight: 600;

  @media (max-width: bp("md")) {
    font-size: fn-rem(40);
  }
}

.reviewBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: space("md");

  @media (max-width: bp("md")) {
    padding-top: space("lg");
    gap: space("sm");
  }
}

.reviewIcon {
  color: fn-color("gray-300");

  @media (max-width: bp("md")) {
    font-size: fn-rem(20);
  }
}
